header, form, form .container-input-movies.focused, form .container-input-movies .container-input-text, form .label-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: Helvetica, sans-serif;
  background-image: url(https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#db6826), to(#e92f00));
  background: linear-gradient(to right, #db6826, #e92f00);
  color: #fff;
  position: fixed;
  height: 70px;
  width: 90%;
  min-width: 320px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-top: 1px white solid;
}

header::after {
  position: absolute;
  display: inline-block;
  top: 70px;
  content: "";
  height: calc(100vh - 70px);
  width: 100%;
  background-color: white;
  z-index: -1;
}

form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 93%;
  height: 40px;
}

form label {
  height: 100%;
  width: 50px;
  border-radius: 2px;
}

form .label-input-text {
  background: rgba(255, 255, 255, 0.226);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

form .label-input-text .movie-logo {
  position: relative;
  width: 100%;
  height: 70%;
  top: 15%;
  fill: white;
}

form .label-input-text .placeholder {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  left: 50px;
  top: -20px;
  max-width: calc((90vw * .93) - 100px);
  min-width: 200px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: text;
  white-space: nowrap;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

form .label-input-text .placeholder.focused {
  font-size: 11px;
  color: #b4b4b4;
  left: 99px;
  top: -10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

form .container-input-movies {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

form .container-input-movies.focused {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

form .container-input-movies .container-input-text {
  width: 99.5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

form .container-input-movies .container-input-text.focused {
  background: white;
  position: relative;
  top: -9px;
  padding-top: 5px;
  padding-bottom: 4px;
  border-radius: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

form .container-input-movies .container-input-text .movie-logo {
  width: 0;
  height: 40px;
  fill: #383838;
  background: rgba(255, 255, 255, 0.226);
  -webkit-transition: all .3s;
  transition: all .3s;
}

form .container-input-movies .container-input-text .movie-logo.focused {
  width: 20px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

form .container-input-movies .container-input-text .input-text {
  color: transparent;
  width: 100%;
  height: 40px;
  outline: none;
  font-weight: 700;
  font-size: 15px;
  font-family: sans-serif;
  background: rgba(255, 255, 255, 0.226);
  padding: 0;
  border: none;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

form .container-input-movies .container-input-text .input-text.focused {
  color: #383838;
  background: white;
  border-radius: 2px;
}

form .container-input-movies .movie-titles {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: calc(99.5%);
  background-color: white;
  color: #383838;
  -webkit-box-shadow: 0px 1px 3px rgba(128, 128, 128, 0.575);
          box-shadow: 0px 1px 3px rgba(128, 128, 128, 0.575);
  position: relative;
  top: -9px;
}

form .container-input-movies .movie-titles.focused {
  display: unset;
}

form .container-input-movies .movie-titles .movie {
  cursor: pointer;
}

form .container-input-movies .movie-titles .movie:hover {
  background: #e7e7e7;
}

form .container-input-movies .movie-titles h3 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 0;
}

form .container-input-movies .movie-titles h3.not-found, form .container-input-movies .movie-titles h3.error, form .container-input-movies .movie-titles h3.pending {
  padding-bottom: 15px;
}

form .container-input-movies .movie-titles h5 {
  margin: 0;
  padding-left: 50px;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #818181;
  font-weight: 500;
  font-size: 11px;
}

form .label-submit {
  background: white;
}

form .label-submit.focused {
  display: none;
}

form .label-submit .search-logo {
  height: 70%;
  color: #db6826;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */