@import "./variables";
@import "./config";

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-image: url(https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);   
    background-size: cover;            
    background-position: center center;   
    height: 100vh;
    margin: 0;
    padding: 0;
}
header {
    @include setBackground($lightOrange, $darkOrange);
    @extend %flex;
    position: fixed;
    height: 70px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    border-top: 1px white solid;
    &::after {
        position: absolute;
        display: inline-block;
        top: 70px;
        content: "";
        height: calc(100vh - 70px);
        width: 100%;
        background-color: white
    }
}
form {
    @extend %flex;
    justify-content: space-between;
    width: 93%;
    height: 60%;
    label {
        height: 100%;
        width: 50px;
        padding: 1px;
        border-radius: 2px;
        &.label-input-text {
            background: $transparentWhite;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        &.label-submit {
            @extend %flex;
            background: white;
            &.no-display {
                display: none;
            }
        }
        .movie {
            position: relative;
            width: 100%;
            height: 70%;
            top: 15%;
            fill: white;
        }
        .placeholder {
            position: relative;
            font-weight: 700;
            display: inline-block;
            left: 55px;
            top: -20px;
            width: 200px;
            user-select: none;
            cursor: text;
            transition: all .3s;
            &.active {
                .movie {
                    width: 0;
                    transition: all .3s;
                }
            }
            &.passive {
                font-size: 10px;
                color: $lightGrey;
                transition: all .3s;
                .movie {
                    height: 20px;
                    width: 20px;
                    fill: black;
                    transition: all .3s;
                }
                .text {
                    position: relative;
                    display: inline;
                    padding-left: 11px;
                    top: 5px;
                }
            }
        }
        .search {
            height: 70%;
            color: $lightOrange;
            cursor: pointer;
        }
    }
    .input-text {
        width: 100%;
        height: 100%;
        outline: none;
        background: $transparentWhite;
        margin-right: 3px;
        padding-left: 35px;
        border: none;
        border-radius: 2px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        &.passive {
            background: white;
            border-radius: 2px;
            heights: 1000px;
        }
    }
    .container.movies {
        &.active {
            display: none;
        }
        &.passive {
            position: absolute;
            width: calc(93% - 50px);
            top: 50px;
            left: 71px;
            height: 100px;
            background: white;
            color: black;
        }
    }
}